@font-face {
    font-family: 'SpaceMono';
    src: url('../assets/SpaceMono-Regular.ttf');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'SpaceMono-bold';
    src: url('../assets/SpaceMono-Bold.ttf');
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: 'SpaceMono-BoldItalic';
    src: url('../assets/SpaceMono-BoldItalic.ttf');
    font-weight: bold;
    font-style: italic;
}

@font-face {
    font-family: 'SpaceMono-Italic';
    src: url('../assets/SpaceMono-Italic.ttf');
    font-weight: normal;
    font-style: italic;
}

body, :root {
    margin: 0;
    font-family: SpaceMono;
    --navbarHeight: 4rem;
    --navbarColor: rgb(183, 225, 231);
    background-image: url(../img/background.jpg);
    background-size: 10rem;
}

.nav {
    width: 100vw;
    height: var(--navbarHeight);
    background-color: var(--navbarColor);
    display: inline-flex;
    align-items: center;
    top: 0;
    position: sticky;
}

ul {
    list-style: none;
    padding: 0;
}

.nav li {
    margin-left: 1rem;
    padding: 0;
    font-size: 1.25rem;
    display: inline-block;
}

.nav a {
    color: black;
    text-decoration: none;
}

.nav a:hover {
    text-decoration: underline;
}

.logo {
    height: var(--navbarHeight);
    width: var(--navbarHeight);
}

.content {
    min-height: calc(100vh - var(--navbarHeight) * 1.1);
    max-height: fit-content;
    width: 60vw;
    background-color: #f0f8f7;
    margin: auto;
    border-radius: 10px;
    border: 2px solid #5bc9a6;
    padding: 3rem;
    padding-left: 5rem;
    padding-right: 5rem;
}

.content a {
    color: rgb(10, 137, 137);
    text-decoration: none;
    border: 1px solid black;
    padding: 0.5rem;
    margin: 0.25rem;
    display: block;
}

p {
    line-height: 1.5rem;   
}